automate_gitHub_issue_assignments
{
  "nodes": [
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"body\"][\"action\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "opened"
            },
            {
              "value2": "created",
              "output": 1
            }
          ]
        }
      },
      "id": "b1e09744-5b20-4336-8760-bdd7422e9b77",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1312,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"body\"][\"issue\"][\"assignees\"].length}}",
              "operation": "equal"
            }
          ],
          "string": [
            {
              "value1": "={{$json[\"body\"][\"issue\"][\"body\"]}}",
              "operation": "regex",
              "value2": "/[a,A]ssign[\\w*\\s*]*me/gm"
            }
          ]
        }
      },
      "id": "d8358b88-60ce-49c8-b156-6e8d29004ac1",
      "name": "IF no assignee?",
      "type": "n8n-nodes-base.if",
      "position": [
        1536,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "string": [
            {
              "value1": "={{$json[\"body\"][\"comment\"][\"body\"]}}",
              "operation": "regex",
              "value2": "/[a,A]ssign[\\w*\\s*]*me/gm"
            }
          ]
        }
      },
      "id": "2cbdec7e-8724-4016-b7b1-eac573946e7f",
      "name": "IF wants to work?",
      "type": "n8n-nodes-base.if",
      "position": [
        1536,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"body\"][\"issue\"][\"assignees\"].length}}",
              "operation": "equal"
            }
          ],
          "string": []
        }
      },
      "id": "64d80a69-acfd-4e3c-96f2-01706bf2ed48",
      "name": "IF not assigned?",
      "type": "n8n-nodes-base.if",
      "position": [
        1760,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "edit",
        "owner": "={{$node[\"Switch\"].json[\"body\"][\"repository\"][\"owner\"][\"login\"]}}",
        "repository": "={{$node[\"Switch\"].json[\"body\"][\"repository\"][\"name\"]}}",
        "issueNumber": "={{ $json[\"body\"][\"issue\"][\"number\"] }}",
        "editFields": {
          "assignees": [
            {
              "assignee": "={{$json.body.issue[\"user\"][\"login\"]}}"
            }
          ],
          "labels": [
            {
              "label": "assigned"
            }
          ]
        }
      },
      "id": "6029b9bd-1616-40c7-ae4b-9d96740151a9",
      "name": "Assign Issue Creator",
      "type": "n8n-nodes-base.github",
      "position": [
        1760,
        320
      ],
      "webhookId": "6d201c22-4f29-49bd-b0fb-2f78756c5403",
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "createComment",
        "owner": "={{$json[\"body\"][\"repository\"][\"owner\"][\"login\"]}}",
        "repository": "={{$json[\"body\"][\"repository\"][\"name\"]}}",
        "issueNumber": "={{$json[\"body\"][\"issue\"][\"number\"]}}",
        "body": "=Hey @{{$json[\"body\"][\"comment\"][\"user\"][\"login\"]}},\n\nThis issue is already assigned to {{$json[\"body\"][\"issue\"][\"assignee\"][\"login\"]}} 🙂"
      },
      "id": "e3460bc4-fe63-47db-8bbb-c288e2f3f842",
      "name": "Add Comment",
      "type": "n8n-nodes-base.github",
      "position": [
        1968,
        832
      ],
      "webhookId": "218f39cf-64fb-41d1-92ba-0849243dee97",
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "edit",
        "owner": "={{$json[\"body\"][\"repository\"][\"owner\"][\"login\"]}}",
        "repository": "={{$json[\"body\"][\"repository\"][\"name\"]}}",
        "issueNumber": "={{$json[\"body\"][\"issue\"][\"number\"]}}",
        "editFields": {
          "assignees": [
            {
              "assignee": "={{$json[\"body\"][\"comment\"][\"user\"][\"login\"]}}"
            }
          ],
          "labels": [
            {
              "label": "assigned"
            }
          ]
        }
      },
      "id": "d65b9db7-8708-4ba3-b95e-c8d2a5b0c6cb",
      "name": "Assign Commenter",
      "type": "n8n-nodes-base.github",
      "position": [
        1968,
        624
      ],
      "webhookId": "3ef2ace6-afe0-47ee-8bb7-3a0a837ce8b7",
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "[username]"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "[reponame]"
        },
        "events": [
          "issue_comment",
          "issues"
        ],
        "options": {}
      },
      "id": "924d54fc-2744-418a-95f2-d71eb3383f1d",
      "name": "Github Trigger1",
      "type": "n8n-nodes-base.githubTrigger",
      "position": [
        1088,
        624
      ],
      "webhookId": "52c5fe44-23ef-4903-b6ae-731edd36127e",
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "96e8e530-34aa-4e55-a3b6-36fa0f94e7f4",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1760,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9954a4af-9c03-4761-930d-ee8408b77b8f",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1760,
        928
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "IF no assignee?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF wants to work?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF no assignee?": {
      "main": [
        [
          {
            "node": "Assign Issue Creator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF wants to work?": {
      "main": [
        [
          {
            "node": "IF not assigned?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF not assigned?": {
      "main": [
        [
          {
            "node": "Assign Commenter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "14eea3642077674f611911a1d72dc982bead6d4e6efcadcb9d71f64142dd0ee9",
    "templateCredsSetupCompleted": true
  }
}
