gmail_label_agent
{
  "name": "gmail_label-agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Email Agent \n**I Built an AI Agent to Manage my Gmail**",
        "height": 608,
        "width": 1552
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        2144
      ],
      "typeVersion": 1,
      "id": "35178da0-c200-402c-89b2-7492c3a2aa1b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {}
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        2304
      ],
      "id": "0772bac4-69d7-4571-97f3-2cd3809838b7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "sakMJW7y1iNuTqRm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "High",
              "description": "This email is for high piorioty. keywords: coding, programing"
            },
            {
              "category": "Low",
              "description": "This email is for low piorioty. keywords: subscription email's"
            },
            {
              "category": "Medium",
              "description": "This email is for medium piorioty"
            },
            {
              "category": "PIAIC",
              "description": "This email is for PIAIC email which i get. keyword: PIAIC, Learning"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json. Always return an category. If one is not determined by the model, default to medium."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        0,
        2288
      ],
      "id": "6ab5df46-98d0-42a4-a60b-d451a85c6064",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        2592
      ],
      "id": "9146117b-8ce8-4bc5-aaa8-fc530d672cd6",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "aJOeEbbojOzMZuKu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_7694603524876483823",
          "IMPORTANT",
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        2176
      ],
      "id": "7c2b24d9-34f8-4fc5-a5b3-59948160f2bc",
      "name": "High",
      "webhookId": "f310d503-ae18-4ad4-96bc-7ec35f0fd88a",
      "credentials": {
        "gmailOAuth2": {
          "id": "sakMJW7y1iNuTqRm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8503997499308144789",
          "Label_1350022511932177252",
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        2304
      ],
      "id": "35a7077b-4d27-4767-a991-ae029403e40f",
      "name": "Low",
      "webhookId": "f310d503-ae18-4ad4-96bc-7ec35f0fd88a",
      "credentials": {
        "gmailOAuth2": {
          "id": "sakMJW7y1iNuTqRm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_819792459245513749",
          "CATEGORY_PERSONAL",
          "CATEGORY_FORUMS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        2480
      ],
      "id": "a1252eab-12a7-448d-bdae-e2c7d228e205",
      "name": "PIAIC",
      "webhookId": "f310d503-ae18-4ad4-96bc-7ec35f0fd88a",
      "credentials": {
        "gmailOAuth2": {
          "id": "sakMJW7y1iNuTqRm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_5297476725290342625",
          "YELLOW_STAR",
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        2384
      ],
      "id": "d3826e34-9fd7-4605-8fe3-b68650b07341",
      "name": "Medium",
      "webhookId": "f310d503-ae18-4ad4-96bc-7ec35f0fd88a",
      "credentials": {
        "gmailOAuth2": {
          "id": "sakMJW7y1iNuTqRm",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "High",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Medium",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PIAIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "001975b83b1ff8d0c6f851a39cb2a2d69c6e57ff2fd689699f1898c6412133c0"
  }
}
